<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Justo Gambula. Portræt. Bas.">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css?v=0.1">
    <script src="../js/index.js?v=0.01"></script>
	<title>Justo Gambula</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li id="forside_btn"><img src="../images/Justo.png" alt="justo"></li>
                <li id="om_mig_btn"><img src="../images/playbtn.png" alt="play_button"></li>
                <li id="musik_btn"><img src="../images/speech_bobble.png" alt="speech_bobble"></li>
                <li id="feature_btn"><img src="../images/lpdisc.png" alt="lp_disc"></li>
            </ul>
        </nav>
        <div class="parallax snap no_snap" id="parallax_1">
            <section id="logo">
                <h1>JUSTO</h1>
                <h4>GAMBULA</h4>
            </section>
        </div>

        <div class="divider"></div>

        <div class="parallax snap no_snap" id="parallax_2">
            <section id="om_mig">
                <h1>Yo!</h1>
                <p>Jeg hedder Justo og jeg er 22 år gammel. Jeg spiller bas og bevæger mig indenfor forskellige genrer.
                    Blandt andet jazz og hiphop. I nedenstående video fortæller jeg lidt mere om mig selv.</p>
                <video width="600" height="450" controls>
                    <source src="../media/movie/Film.mp4" type="video/mp4">
                </video>
            </section>
        </div>

        <div class="divider"></div>

        <div class="parallax snap no_snap" id="parallax_3">
            <img id="bobble" src="../images/bobble.png" alt="bobble">
            <div id="citat">
                <p>ALT I <br> LIVET ER <br>RYTME
                </p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="parallax snap no_snap" id="parallax_4">
             <img id="headphones" src="../images/headphones.png" alt="headphones">
            <h1>LYT</h1>
            <div id="lyt_left">
                <p>JEG HAR EN DEL SCENEERFARING I DANMARK OG UDLANDET. JEG HAR BLANDT ANDET ARBEJDET SAMMEN MED KLUMBEN OG
                    RASKE PENGE.<br>

                    NU SPILLER JEG I GRUPPEN ATHLETIC PROGRESSION.
                </p>
                <div class="liste">
                    <h2>Athletic Progression - Embassy</h2>
                    <audio controls>
                        <source src="../media/audio/Embassy.mp3" type="audio/mp3">
                    </audio>
                    <h2>Athletic Progression - Emmelev</h2>
                    <audio controls>
                        <source src="../media/audio/Emmelev.mp3" type="audio/mp3">
                    </audio>
                </div>
            </div>
            <div id="lyt_right">
                <img id="pil" class="pulsate-fwd" src="../images/pil.png" alt="pil">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/z7loFVFWke4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gF5uMt4aA-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </main>

    <footer class="snap_end no_snap_end">
        <img id="flyver" src="../images/flyver.png" alt="papirs_flyver">
        <img id="lyn" src="../images/lyn.png" alt="lyn">
        <div id="footer_container">
            <section class="footer_section">
                <h1>Tlf: 23324534</h1>
            </section>
            <section class="footer_section">
                <h1>//</h1>
            </section>
            <section class="footer_section">
                <h1><a href="https://www.instagram.com/explore/tags/justogambula/?hl=da">#JustoGambula</a></h1>
            </section>
            <section class="footer_section">
                <h1>//</h1>
            </section>
            <section class="footer_section">
                <h1><a href="mailto: justo@musikkons.dk">justo@musikkons.dk</a></h1>
            </section>
        </div>
    </footer>
</body>
</html>